<ion-view view-title="tipr">
  <ion-content class="body">

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Ammount</span>
        <input ng-model="accountCtrl.amount" type="number">
      </label>
      <button class="button button-block button-tipr" ng-click="accountCtrl.updateBalance(accountCtrl.amount)">
        Add to balance
      </button>
    </div>

  </ion-content>
  <ion-footer-bar>
    <div class="row">
      <div class="col">
        <a href='#/history'><h2><i class="fa fa-comment"></i></h2></a>
      </div>
      <div class="col">
        <a href='#/dash'><h2><i class="fa fa-gbp"></i></h2></a>
      </div>
      <div class="col">
        <a href='#/account'><h2><i class="fa fa-cogs"></i></h2></a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
