<ion-view view-title="Sign up">
  <ion-content>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="user.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <span class="input-label">Password Confirmation</span>
        <input type="password" ng-model="passwordConf">
      </label>
    </div>

    <div class="padding">
      <button ng-disabled="signUpCtrl.invalid(user.password, passwordConf)"
        class="button button-block button-tipr" ng-click="signUpCtrl.signUp(user)">
        Sign up
      </button>
    </div>

  </ion-content>
</ion-view>
