<ion-view view-title="tipr">
  <ion-content class="body">

    <header><div class='title'></div></header>
    <div class="user">
      <div class="profileImage"></div>
      <div class="userInfo">
        <h4>{{dashCtrl.user.name}}</h4>
        <h4>Tipr ID: 1234</h4>
        <h4>Balance:  <span class="balance">£{{dashCtrl.user.balance.toFixed(2)}}</span></h4>
      </div>
    </div>

    <div class="transactions">
      <div class="row" ng-repeat="transaction in dashCtrl.user.history" ng-style="$odd ?{'background-color':'#E7E4E4'}:{'background-color': 'white'}">
        <div class="col">
          <div class="arrowBlue" ng-show="transaction.amount > 0"></div>
          <div class="arrowRed" ng-show="transaction.amount < 0"></div>
        </div>
        <div class="col">
          <p>{{transaction.user}}</p>
          <p>{{transaction.date}}</p>
        </div>
        <div class="col">
          <h4 class="amount" ng-style="transaction.amount > 0 ? {'color':'#4083F3'}:{'color': '#FE4C5B'}">
            £{{dashCtrl.convert(transaction.amount)}}
          </h4>
        </div>
      </div>
        <a href="#/tab/history"><p class="history-link">View all account activity</p></a>
    </div>
    <a href="#/tip">
      <button class="button button-full button-tipr">
        Send A Tip
      </button>
    </a>

  </ion-content>
</ion-view>
