<ion-view view-title="tipr">
  <ion-content>

    <div class="transactions">
      <h3>Transaction History</h3>
      <div class="row" ng-repeat="transaction in historyCtrl.user.history" ng-style="$odd ?{'background-color':'#E7E4E4'}:{'background-color': 'white'}">
        <div class="col">
          <img class = 'arrow' src='/img/blue-arrow.png' ng-show="transaction.amount > 0" />
          <img class = 'arrow' src='/img/red-arrow.png' ng-show="transaction.amount < 0" />
        </div>
        <div class="col">
          <h4>{{transaction.user}}</h4>
          <h4>{{transaction.date}}</h4>
        </div>
        <div class="col">
          <h4 class='amount' ng-style="transaction.amount > 0 ? {'color':'#4083F3'}:{'color': '#FE4C5B'}">
            £{{transaction.amount.toFixed(2)}}
          </h4>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
