<ion-view view-title="tipr">
  <ion-content class="body">

    <header><div class='title'></div></header>
    <div class="history">
      <h3>Transaction History</h3>
      <div class="row" ng-repeat="transaction in historyCtrl.user.history" ng-style="$odd ?{'background-color':'#E7E4E4'}:{'background-color': 'white'}">
        <div class="col">
          <div class="arrowBlue" ng-show="transaction.amount > 0"></div>
          <div class="arrowRed" ng-show="transaction.amount < 0"></div>
        </div>
        <div class="col">
          <p>{{transaction.user}}</p>
          <p>{{transaction.date}}</p>
        </div>
        <div class="col">
          <h4 class="amount" ng-style="transaction.amount > 0 ? {'color':'#4083F3'}:{'color': '#FE4C5B'}">
            £{{historyCtrl.convert(transaction.amount)}}
          </h4>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
