<ion-view view-title="tipr">
  <ion-content class="profile">
    <div class="user">
      <img src="/img/chris.jpg"/>
      <h3>Chris Harry Weeks</h3>
    </div>
    <div "user-data">
      <div class="balance">
        <h4>Balance: £123.45</h4>
      </div>
      <div class="transactions">
        <h4>Latest Transactions</h4>
        <div class="row">
          <div class="col">
            Aaron Kendall
          </div>
          <div class="col">
            £11.00
          </div>
          <div class="col">
            01/01/2016
          </div>
        </div>
        <div class="row">
          <div class="col">
            Nathaniel Green
          </div>
          <div class="col">
            £18.00
          </div>
          <div class="col">
            09/01/2016
          </div>
        </div>
        <div class="row">
          <div class="col">
            Harry Dix
          </div>
          <div class="col">
            £12.00
          </div>
          <div class="col">
            21/01/2016
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
