<ion-view view-title="tipr">
  <ion-content>
    <label class="item item-input">
      <input type='text' placeholder="Search" ng-model="search.email">
    </label>
    <label class="item item-input">
     <span class="input-label"><strong>Select Recipient:</strong></span>
   </label>
   <div ng-repeat="(uid, user) in tipCtrl.usersArray | filter:search">
     <ion-radio ng-click="tipCtrl.selectRecipient(uid)">
       {{ user.email }}
     </ion-radio>
   </div>

   <label class="item item-input">
     <span class="input-label">Ammount</span>
     <input ng-model="tipCtrl.amount" type="number">
   </label>
   <button class="button button-block button-tipr" ng-click="tipCtrl.sendTip(tipCtrl.amount)">
     Send Tip
   </button>

  </ion-content>
</ion-view>
