.scroll {
  height: 100%;
  margin: 0;
  background-color: #384C67;
}

.profile{
  text-align: center;
}

.user {
  padding: 2%;
  background-image: url("../img/london3.jpg");
  background-size: 100%;
}

.user > h1 {
  color: white;
}

.balance > h2 {
  color: white;
  padding: 1%;
  margin: 0;
  background-color: #384C67;
  border-top: medium;
  border-style: solid;
  border-color: #1AAAAB;
}

.transactions > h3 {
  color: white;
  padding: 1%;
  margin: 0;
}

.user > img {
  border-width: thick;
  border-style: solid;
  border-color: #1AAAAB;
  border-radius: 50%;
}

.transactions {
  border-color: grey;
  border-style: solid;
  border-top: medium;
  border-bottom: medium;
  border-style: solid;
  border-color: #1AAAAB;
  background-color: #384C67;
}

.list {
  padding-top: 15%;
}

.tipr-color {
  color: #1AAAAB;
}

.button-tipr {
  color: white;
  background-color: #1AAAAB;
}

.row {
  border-top: medium;
  border-style: solid;
  border-color: #1AAAAB;
}

.col > h3 {
  color: white;
}

.col > h4 {
  color: white;
}

.float-left {
  width: 50%;
  float: left;
  display: inline-block;
}

.float-right {
  width: 50%;
  float:right;
  display: inline-block;
}
